<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/4.6.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/Swiper/8.0.6/swiper-bundle.min.css" type="text/css" rel="stylesheet" />
<link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" type="text/css" rel="stylesheet" />
<link href="{{qcms:Static}}bootstrap/css/morris.css" rel="stylesheet" type="text/css">
<link href="{{qcms:Static}}bootstrap/css/style-init.css" rel="stylesheet" type="text/css">
<link href="{{qcms:PathCss}}index.css" rel="stylesheet" type="text/css">