<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{{qcms:static}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{qcms:static}}bootstrap/css/morris.css" rel="stylesheet" type="text/css">
<link href="{{qcms:static}}bootstrap/css/style-init.css" rel="stylesheet" type="text/css">
<link href="{{qcms:static}}bootstrap/css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="{{qcms:pathCss}}index.css" rel="stylesheet" type="text/css">