.text-black{
    color:#000;
}

body{

    color: #212529 !important;
    line-height: 1.8;
    font-family: -apple-system, "SF UI Text", Arial, PingFangSC-Medium, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
    //background-color: #fff;
}
html{
    font-size: 14px;

}
p {
    font-size: unset;
    line-height: unset;
}
.breadcrumb{
    float:unset;
    padding: 0px;
    a{
        color: #000;
    }
}
h1{
    font-size: 1.4rem;
    font-weight: 600;
}
li {list-style: none; }
figure {
    margin: 0 0 1rem;
}
iconpark-icon{
    vertical-align: sub;
}
.Content{
    .image{
        display: table;
        clear: both;
        text-align: center;
        margin: 1em auto;
    }
    .Inlink{
        color: #007bff!important;
        padding-left: 2px;
        padding-right:2px;
    }
    .Inlink:hover{
        text-decoration:underline;
    }
    font-size: 1.1rem !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper2 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

.swiperBanner{
    height: 560px;
}
.indexNewsImg{
    width:120px;
}
.CateBannerPic{
    height: 380px;
}
.Content img{
    max-width: 100%;
}
.font-weight-1{
    font-weight: 700!important;
}
@media (max-width: 991.98px) {
    .swiperBanner{
        height: 260px;
    }
    .indexNewsImg{
        width:100%;
    }
    .CateBannerPic{
        height: 200px;
    }
}